* {
    box-sizing: inherit;
}

html {
    font-size: 62%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(247, 244, 244);
}

.light-container {
    max-width: 1200px;
    background-color: white;
    margin: 5rem auto;
    /* padding: 3rem; */
    padding-left: 0;
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.light-left, .light-right {
    float: left;
}

.light-left {
    width: 20%;
    height: 54rem;
    font-size: 2rem;
    padding: 2rem 0;
    /* padding-right: 3rem; */
    border-right: 1px solid rgb(223, 219, 219);
}
.dark-left {
    width: 20%;
    height: 54rem;
    font-size: 2rem;
    padding: 2rem 0;
    /* padding-right: 3rem; */
    border-right: 1px solid rgb(70, 69, 69);
}

.month {
    background-color: rgb(233, 232, 232);
    color: purple;
    width: 100%;
    padding: .5rem 0;
}

.month1, .month4 {
    padding: 2rem 0;
}

.month4 {
    /* background-color: #313133; */
}

p {
    margin: 0;
    padding: 1rem;
    padding-left: 2rem;
}

.light-right {
    width: 80%;
    border-bottom: 1px solid rgb(223, 219, 219);
}
.dark-right {
    width: 80%;
    border-bottom: 1px solid rgb(70, 69, 69);
}

.first-right, .second-right {
    float: left;
    width: 50%;
    /* margin-top: rem; */
    padding-top: 2rem;
}
.first1-right, .second-right {
    float: left;
    width: 50%;
    /* margin-top: rem; */
    padding-top: 2rem;
}

.first-right {
    border-right: 1px solid rgb(223, 219, 219);
    height: 42.7rem;
}
.first1-right {
    border-right: 1px solid rgb(70, 69, 69);
    height: 42.7rem;
}

.date3, .btn-container {
    float: left;
}

.date1, form {
    float: left;
}

.than {
    background-color: rgb(233, 232, 232);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.month2 {
    padding: 0 12rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.color1:nth-child(even) {
    background-color: rgb(233, 232, 232);
}

thead {
    font-weight: bold;
    text-transform: capitalize;
}

table {
    font-size: 2rem;
    margin: 1.5rem auto;
}

td {
    padding: 1.5rem;
}

.color {
    color: rgb(184, 183, 183);
}

.date1 {
    background-color: rgb(233, 232, 232);
    font-size: 1.5rem;
    border-radius: .5rem;
    /* margin-left: 1rem; */
}

.input, .button {
    float: left;
    width: 40%;
}

.input {
    text-align: right;
    line-height: 2rem;
    margin: 1.5rem auto;
    padding-left: 2rem;
}

.date2 {
    padding: .5rem 3rem;
    font-size: 2rem;
    margin: 1rem;
    /* margin-left: rem; */
}

form {
    margin: 0 auto;
    /* margin-top: 1rem; */
}

input {
    width: 80%;
    border: 1px solid purple;
    padding: 1.5rem 3rem;
    padding-left: 1rem;
    border-radius: .5rem;
    outline: none;
    margin: 0 auto;
}

.button {
    line-height: 2rem;
    margin: 1.5rem auto;
    /* margin-left: 0; */
}

.arrow {
    font-size: 2rem;
    font-weight: bolder;
    padding-right: 2rem;
}

.form-container {
    margin-left: 0;
}

input:hover {
    border: 1px solid #3d3061;
    outline: none;
}

.btn-primary {
    width: 20rem;
    background-color: #673ab7;
    border-radius: .5rem;
    color: white;
    border: none;
    outline: none;
    padding: 1rem 3rem;
    margin: 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.date3 {
    padding: .3rem 3rem;
    font-size: 2rem;
    margin: 1rem;
    /* margin-left: rem; */
}



.darkmode {
    margin: 10rem auto;
    margin-bottom: 0;
    padding: 5rem 0;
    background-color: #181818;
}


.dark-container {
    max-width: 1200px;
    background-color: #28282a;
    margin: 10rem auto;
    /* margin-bottom: 0; */
    /* padding: 3rem; */
    padding-left: 0;
    color: rgb(245, 241, 241);
    border-radius: .5rem;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.dark-left, .dark-right {
    float: left;
}


.month3 {
    background-color: #313133;
    /* color: white; */
    width: 100%;
    padding: .5rem 0;
}

.color5 {
    color: rgb(143, 141, 141);
}

.than1 {
    background-color: #313133;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.date1 {
    background-color: #313133;
    font-size: 1.5rem;
    border-radius: .5rem;
    /* margin-left: 1rem; */
}

.put {
    background-color: transparent;
    color: white;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}